body{
    background-color:rgba(29, 26, 26, 0.911);
    color:white;
}

img{
    border-radius:50%;
    height:350px;
    widows: 300px;
    display: block;
    margin: 0 auto;

}
h1{
    text-align: center;
    

}

h2{
    color:purple;
    text-align: center;

}

p{
    text-align: center;

}

h3{
    text-align: center;
    
}

a{
    color:orange;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
 
}

li{
    display: inline-block;
    float: none;
}

.styled-list{
    text-align:center;
}
